<md-dialog aria-label='Set Image' flex='80'>
  <md-toolbar>
    <div class='md-toolbar-tools'>
      <h2>Set image for {{dialogTempData.name}}</h2>
      <span flex>&nbsp;</span>
      <md-button class='md-icon-button' aria-label='Close'
      ng-click='hideDialog()'>
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <form name='setImageForm'>
    <md-dialog-content>
      <md-content>
        <div class='input-container'>
          <label flex>Image File:</label>
          <md-icon>attach_file</md-icon>
          <input type='file' accept='.jpg,.png' multiple=false flex required
          ng-model='dialogTempData.file'></input>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions>
      <md-button ng-click='hideDialog()' class='md-raised'
      ng-disabled='dialogTempData.image == ""'>
        <md-icon>clear</md-icon>
        <span>Clear Image</span>
      </md-button>
      <div flex>&nbsp;</div>
      <md-button ng-click='hideDialog()' class='md-raised md-primary'>
        <md-icon>cancel</md-icon>
        <span>Cancel</span>
      </md-button>
      <md-button ng-click='hideDialog()' class='md-raised'
      ng-disabled='setImageForm.$invalid'>
        <md-icon>file_upload</md-icon>
        <span>Upload Image</span>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
