<md-dialog aria-label='Copy Characteristic' flex='80'>
  <md-toolbar>
    <div class='md-toolbar-tools'>
      <h2>Are you sure?</h2>
      <span flex></span>
      <md-button class='md-icon-button' aria-label='Close'
      ng-click='hideDialog()'>
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <form name='copyForm'>
    <md-dialog-content>
      <md-content>
        <md-list>
          <md-list-item ng-repeat='message in dialogTempData.messages'>{{message}}</md-list-item>
        </md-list>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions>
      <md-button ng-click='hideDialog()' class='md-raised md-primary'>
        <md-icon>cancel</md-icon>
        <span>Cancel</span>
      </md-button>
      <md-button ng-click='dialogTempData.createCopy()' class='md-raised'>
        <md-icon>content_copy</md-icon>
        <span>Create Copy</span>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
