<div id='templateNavigation'>
	<label>Current Template:&nbsp;</label>
	<md-select ng-model='localData.templates.current'
	ng-change='setTemplate()'
	aria-label='Select A Template' flex>
		<md-option ng-if='localData.templates.current.id != ""'
		ng-value='{id: "", text: "All Templates"}'>All Templates</md-option>
		<!-- <md-option ng-value='localData.templates.current'>
			{{localData.templates.current.text}}
		</md-option> -->
		<md-option ng-repeat='template in localData.templates.data'
		ng-value='template'>
			{{template.text}} [{{template.leafTotal}} / {{template.recursiveLeafTotal}}]
		</md-option>
	</md-select>
	<md-menu>
		<md-button class='md-icon-button' aria-label='Open'
		ng-click="$mdOpenMenu($event)">
			<md-icon>menu</md-icon>
		</md-button>
		<md-menu-content>
			<md-menu-item>
				<md-button aria-label='Set Image'
				ng-click='displayImageDialog(item)'>
					<md-icon>add</md-icon>
					<span>Add</span>
				</md-button>
			</md-menu-item>
			<md-menu-item>
				<md-button aria-label='Options'
				ng-click='displayOptionsDialog(item)'>
					<md-icon>edit</md-icon>
					<span>Edit</span>
				</md-button>
			</md-menu-item>
			<md-menu-item>
				<md-button aria-label='Copy'
				ng-click='displayCopyDialog(item)'>
					<md-icon>content_copy</md-icon>
					<span>Copy</span>
				</md-button>
			</md-menu-item>
			<md-menu-item>
				<md-button aria-label='Delete'
				ng-click='displayDeleteDialog(item)'>
					<md-icon>delete</md-icon>
					<span>Delete</span>
				</md-button>
			</md-menu-item>
		</md-menu-content>
	</md-menu>
</div>
<div id='dataTable-header'>
  <table class='dataTable'>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Description</th>
      <th>Choices</th>
      <th>Default</th>
      <th>Type</th>
      <th class='actions'>Actions</th>
      <th class='spacer'>&nbsp;</th>
    </tr>
  </table>
</div>
<div id='dataTable-rows' ng-scroll='dataTableScrolled()' flex>
	<div class='fixed-bottom-button'>
		<md-button class='md-fab md-primary' aria-label='New'
		ng-click='generate404()'>
			<md-icon>add</md-icon>
		</md-button>
	</div>
	<!-- <md-button class='md-fab md-primary btn-fixed' aria-label='New'
	ng-click='generate404()'>
		<md-icon>add</md-icon>
	</md-button> -->
  <table class='dataTable'>
    <tr ng-repeat='item in localData.characteristics.data'>
      <td><span>{{item.Name}}</span></td>
      <td><span>{{item.Code}}</span></td>
      <td><span>{{item.Description}}</span></td>
      <td><span>{{item.ValidationListCount}}</span></td>
      <td><span>{{item.DefaultValue}}</span></td>
      <td><span>{{item.TypeOfCharacteristic}}</span></td>
      <td class='actions'>
				<md-menu>
					<md-button class='md-icon-button' aria-label='Open'
					ng-click="$mdOpenMenu($event)">
						<md-icon>menu</md-icon>
					</md-button>
					<md-menu-content>
						<md-menu-item>
							<md-button aria-label='Set Image'
							ng-click='displayImageDialog(item)'>
								<md-icon>add_a_photo</md-icon>
								<span>Set Image</span>
							</md-button>
						</md-menu-item>
						<md-menu-item>
							<md-button aria-label='Options'
							ng-click='displayOptionsDialog(item)'>
								<md-icon>settings</md-icon>
								<span>Options</span>
							</md-button>
						</md-menu-item>
						<md-menu-item>
							<md-button aria-label='Unlink'
							ng-click='displayUnlinkDialog(item)'>
								<md-icon>link</md-icon>
								<span>Unlink</span>
							</md-button>
						</md-menu-item>
						<md-menu-item>
							<md-button aria-label='Copy'
							ng-click='displayCopyDialog(item)'>
								<md-icon>content_copy</md-icon>
								<span>Copy</span>
							</md-button>
						</md-menu-item>
						<md-menu-item>
							<md-button aria-label='Delete'
							ng-click='displayDeleteDialog(item)'>
								<md-icon>delete</md-icon>
								<span>Delete</span>
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
			</td>
    </tr>
    <tr style='line-height: 50px;'><td colspan=20>&nbsp;</td></tr>
  </table>
</div>
<div id='paginationControl' ng-if='pagination.pageCount > 0'>
	<md-button class='md-icon-button' aria-label='First Page'
	ng-disabled='pagination.onFirstPage()'
	ng-click='pagination.goToFirstPage()' title='First Page'>
		<md-icon>first_page</md-icon>
	</md-button>
	<md-button class='md-icon-button' aria-label='Previous Page'
	ng-disabled='pagination.onFirstPage()'
	ng-click='pagination.goToPreviousPage()' title='Previous Page'>
		<md-icon>navigate_before</md-icon>
	</md-button>
	<input type='number' ng-model='pagination.page' min='1'
	max={{pagination.pageCount}}
	ng-change='pagination.pageOrFilterChanged()'
	ng-model-options='{debounce: 500}'></input>
	<p>&nbsp;of {{pagination.pageCount}}</p>
	<md-button class='md-icon-button' aria-label='Next Page' ng-disabled='pagination.onLastPage()'
	ng-click='pagination.goToNextPage()' title='Next Page'>
		<md-icon>navigate_next</md-icon>
	</md-button>
	<md-button class='md-icon-button' aria-label='Last Page' ng-disabled='pagination.onLastPage()'
	ng-click='pagination.goToLastPage()' title='Last Page'>
		<md-icon>last_page</md-icon>
	</md-button>
	<md-button class='md-icon-button' aria-label='Refresh' ng-click='retrieveData()'
	title='Refresh'>
		<md-icon>refresh</md-icon>
	</md-button>
	<div flex>&nbsp;</div>
	<p>Items Per Page:&nbsp;</p>
	<md-select ng-model='pagination.limit' ng-change='pagination.goToFirstPage()'
	aria-label='Items Per Page'>
		<md-option value=5>5</md-option>
		<md-option value=10>10</md-option>
		<md-option value=25>25</md-option>
		<md-option value=100>100</md-option>
		<md-option value=500>500</md-option>
	</md-select>
</div>
