<div>
	<h2>Symphony Manager Login</h2>
  <form name='loginForm' ng-submit='login()'>
		<md-list>
			<md-list-item>
        <div class='input-container'>
          <label>Client:&nbsp;</label>
          <md-select ng-model='companyCode' aria-label='Client' flex
					ng-change='setCurrentPage("", companyCode)' required>
      			<md-option ng-repeat='client in localData.clientList'
						value='{{client.Key}}'>{{client.Display}}</md-option>
      		</md-select>
        </div>
			</md-list-item>
			<md-list-item>
				<md-input-container flex>
					<label>User</label>
					<input type='text' ng-model='localData.user' required></input>
				</md-input-container>
			</md-list-item>
			<md-list-item>
				<md-input-container flex>
					<label>Password</label>
					<input type='password' ng-model='localData.password' required></input>
				</md-input-container>
			</md-list-item>
		</md-list>
    <div layout='row' layout-align='end'>
      <md-button type='submit' class='md-raised' ng-disabled='loginForm.$invalid'>Login</md-button>
    </div>
	</form>
</div>
