<md-dialog aria-label='Add User' flex='80'>
  <md-toolbar>
    <div class='md-toolbar-tools'>
      <h2>Add User</h2>
      <span flex>&nbsp;</span>
      <md-button class='md-icon-button' aria-label='Close' ng-click='hide()'>
        <md-icon>&#xE5CD;</md-icon> <!-- close -->
      </md-button>
    </div>
  </md-toolbar>
  <form name='addUserForm'>
    <md-dialog-content>
      <md-content>
        <md-list>
          <md-list-item>
            <md-input-container flex>
              <label>User Name:</label>
              <input type='email' ng-model='dialogTempData.userName' required></input>
            </md-input-container>
          </md-list-item>
          <md-list-item>
            <md-input-container flex>
              <label>Password:</label>
              <input type='password' ng-model='dialogTempData.password' required></input>
            </md-input-container>
          </md-list-item>
          <md-list-item>
            <md-input-container flex>
              <label>Vendor Id:</label>
              <input type='number' ng-model='dialogTempData.vendorId' required></input>
            </md-input-container>
          </md-list-item>
        </md-list>
      </md-content>
    </md-dialog-content>
    <div class='md-actions' layout='row' layout-align='end'>
      <md-button ng-click='hide()' class='md-primary'>Cancel</md-button>
      <md-button ng-click='addUser()' ng-disabled='addUserForm.$invalid'>Save</md-button>
    </div>
  </form>
</md-dialog>
