<md-dialog aria-label='Delete Form' flex='80'>
  <md-toolbar>
    <div class='md-toolbar-tools'>
      <h2>Are you sure?</h2>
      <span flex></span>
      <md-button class='md-icon-button' ng-click='hide()'>
        <md-icon>&#xE5CD;</md-icon> <!-- close -->
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-content>
      <md-list>
        <md-list-item ng-repeat='message in dialogTempData.deleteMessages'>{{message}}</md-list-item>
      </md-list>
      <div class='md-dialog-actions' layout='row' layout-align='end'>
        <md-button ng-click='hide()' class='md-primary'>Cancel</md-button>
        <md-button ng-click='delete()'>Delete</md-button>
      </div>
    </md-content>
  </md-dialog-content>
</md-dialog>
