<md-dialog aria-label='Edit User' flex='80'>
	<md-toolbar>
		<div class='md-toolbar-tools'>
			<h2>Edit User: {{dialogTempData.UserName}}</h2>
			<span flex>&nbsp;</span>
			<md-button class='md-icon-button' aria-label='Close' ng-click='hide()'>
				<md-icon>&#xE5CD;</md-icon> <!-- close -->
			</md-button>
		</div>
	</md-toolbar>
	<form name='editUserForm' novalidate>
		<md-dialog-content>
			<md-content>
				<md-list>
					<md-list-item>
						<span>Roles:</span>
					</md-list-item>
					<md-list-item ng-repeat='role in dialogTempData.roles'>
						<md-checkbox ng-model='role.enabled' aria-label='{{role.Key}}'
						ng-change='toggleRole(role, dialogTempData.UserName)'></md-checkbox>
						<span>{{role.Key}}</span>
					</md-list-item>
					<md-divider></md-divider>
					<md-list-item>
						<span>Clients:</span>
					</md-list-item>
					<md-list-item ng-repeat='client in dialogTempData.clients'>
						<md-checkbox ng-model='client.enabled' aria-label='{{client.Key}}'
						ng-change='toggleClient(client, dialogTempData.UserName)'></md-checkbox>
						<span>{{client.Key}}</span>
					</md-list-item>
				</md-list>
			</md-content>
		</md-dialog-content>
		<div class='md-actions' layout='row' layout-align='end'>
			<md-button ng-click='hide()' class='md-primary'>Close</md-button>
		</div>
	</form>
</md-dialog>
