div.userList {
  flex: 1;
  overflow: auto;
  background: white;
  border-top: 1px solid #CCC;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid #AAA;
  border-right: 1px solid var(--shadow-color);
  border-bottom: 1px solid #AAA;
  border-bottom: 1px solid var(--shadow-color);
  border-left: 1px solid #CCC;
  border-left: 1px solid var(--border-color);
}

div.userList md-list-item {
  transition: all 500ms;
  transition: all var(--transition-timer);
}

div.userList md-list-item.oddRow {
  background: #DDD;
  background: var(--background-color);
}

div.userList md-list-item:hover {
  background: #DDDDFF;
  background: var(--highlight-color);
}

div.userList md-list-item span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
