<md-toolbar>
  <div class='md-toolbar-tools'>
    <h2 flex>Users</h2>
    <md-menu md-position-mode='target-right target'>
      <md-button aria-label='Menu' class='md-icon-button' ng-click='$mdOpenMenu()'>
        <md-icon>&#xE5D4;</md-icon> <!-- more_vert -->
      </md-button>
      <md-menu-content>
        <md-menu-item>
          <md-button ng-click='displayAddUserDialog()' aria-label='Add User'>
            <md-icon>&#xE145;</md-icon> <!-- add -->
            <span>Add User</span>
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button ng-click='editUser(currentUser)' aria-label='Edit Current User'>
            <md-icon>&#xE254;</md-icon> <!-- mode_edit -->
            <span>Edit Current User</span>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
<div class='userList' aria-label='Data Grid'>
  <md-list>
    <md-list-item ng-repeat='(userIndex, user) in localData.userList.data'
    ng-class='{oddRow: (userIndex % 2) === 1}'>
      <md-button class='md-icon-button' ng-click='editUser(user)'>
        <md-icon>&#xE254;</md-icon> <!-- mode_edit -->
      </md-button>
      <span flex>{{user.UserName}}</span>
      <md-button class='md-icon-button' ng-if='user.UserId > 0'
      ng-click='confirmDelete(user)'>
        <md-icon>&#xE872;</md-icon> <!-- delete -->
      </md-button>
    </md-list-item>
  </md-list>
</div>
