<md-dialog aria-label='Change Password' flex='80'>
  <md-toolbar>
    <div class='md-toolbar-tools'>
      <h2>Change Password</h2>
      <span flex>&nbsp;</span>
      <md-button class='md-icon-button' aria-label='Close'
      ng-click='hideDialog()'>
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <form name='currentPasswordForm'>
    <md-dialog-content>
      <md-content>
        <md-list>
          <md-list-item>
            <md-input-container flex>
              <label>Current Password</label>
              <input type='password' ng-model='dialogTempData.currentPassword' required></input>
            </md-input-container>
          </md-list-item>
          <md-list-item>
            <md-input-container flex>
              <label>New Password</label>
              <input type='password' ng-model='dialogTempData.newPassword' required></input>
            </md-input-container>
          </md-list-item>
          <md-list-item>
            <md-input-container flex>
              <label>Confirm New Password</label>
              <input type='password' ng-model='dialogTempData.confirmNewPassword' required></input>
            </md-input-container>
          </md-list-item>
        </md-list>
      </md-content>
    </md-dialog-content>
    <div class='md-actions' layout='row' layout-align='end'>
      <md-button ng-click='hideDialog()' ng-disabled='currentPasswordForm.$invalid'>Change Password</md-button>
    </div>
  </form>
</md-dialog>
