<md-dialog aria-label='Messages' flex='80'>
  <md-toolbar>
    <div class='md-toolbar-tools'>
      <md-icon>mail</md-icon>
      <h2>&nbsp;{{currentUser.messages.total}} Messages</h2>
      <span flex>&nbsp;</span>
      <md-button class='md-icon-button' aria-label='Close'
      ng-click='hideDialog()'>
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-content>
      <md-list>
        <md-list-item layout='row' layout-align='start start'
        ng-repeat='message in currentUser.messages.data'>
          <div flex>
            <p>{{message.Time}}</p>
            <p>{{message.Message}}</p>
          </div>
          <md-button class='md-icon-button' aria-label='Clear Message'
          ng-click='dialogTempData.clearMessage(message)'>
            <md-icon>close</md-icon>
          </md-button>
        </md-list-item>
      </md-list>
    </md-content>
  </md-dialog-content>
  <div class='md-actions' layout='row' layout-align='end'>
    <md-button ng-click='dialogTempData.refreshMessages()'>Refresh</md-button>
    <md-button ng-click='dialogTempData.clearMessages()'>Clear</md-button>
  </div>
</md-dialog>
