/* Variables */
:root {
  --transition-timer: 500ms;
  --transition-delay: 100ms;
  --input-color: #D87732;
  --border-color: #CCC;
  --shadow-color: #AAA;
  --highlight-color: #DDDDFF;
  --background-color: #DDD;
  --success-color: #40B040;
  --warning-color: #E08040;
  --info-color: #4050E0;
  --error-color: #D55050;
  --column-width: 125px;
  --checkbox-column-width: 40px;
  --top-bar-height: 49px;
}

/* Fonts */
@font-face {
  font-family: 'Consolas';
  font-style: normal;
  src: local('Consolas'),
    local('Consolas-Regular'),
    url(/fonts/Consolas-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Consolas';
  font-style: bold;
  src: local('Consolas-Bold'),
    url(/fonts/Consolas-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Consolas';
  font-style: italic;
  src: local('Consolas-Italic'),
    url(/fonts/Consolas-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Consolas';
  font-style: bold;
  font-style: italic;
  src: local('Consolas-BoldItalic'),
    url(/fonts/Consolas-BoldItalic.ttf) format('truetype');
}

/* Icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/fonts/material-icons.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* Body */
body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  font-family: Consolas, 'Times New Roman', Times, serif;
	background: #DDD;
  background: var(--background-color);
}

/* Text */
span:focus {
  outline: none;
  border: 0;
}

/* Images */
img.carousel {
  outline: none;
  margin: 1px;
  padding: 1px;
  border: 1px solid black;
  cursor: pointer;
}

img.selected {
  border: 1px solid yellow;
}

/* Buttons */
.fixed-bottom-button {
  position: absolute;
  z-index: 20;
  bottom: 85px;
  right: 20px;
}

/* Top Bar */
#topBar {
  display: flex;
  flex-direction: row;
  height: 49px;
  height: var(--top-bar-height);
  min-height: 49px;
  min-height: var(--top-bar-height);
  line-height: 49px;
  line-height: var(--top-bar-height);
  margin: 0px;
  padding: 0px 5px 0px 5px;
  z-index: 12;
  background: url(../images/userBarBkg.png) repeat-x;
  box-shadow: 0px 2px 5px 2px var(--shadow-color);
}

#topBar md-button {
  font-size: 125%;
  font-weight: bold;
  user-select: none;
}

/* Top Menus */
#sectionsMenu, #userMenu {
  position: absolute;
  z-index: -1;
  visibility: hidden;
  top: 0px;
  min-height: 0px;
  max-height: 0px;
  overflow: hidden;
  background-color: var(--background-color);
  box-shadow: 2px 2px 5px 2px var(--shadow-color);
  border: 1px solid transparent;
  transition: all var(--transition-timer);
}

#sectionsMenu {
  left: 50px;
  overflow: auto;
}

#userMenu {
  right: 10px;
  overflow: hidden;
}

#sectionsMenu.show, #userMenu.show {
  z-index: 11;
  visibility: visible;
  top: calc(var(--top-bar-height) + 1px);
  max-height: 500px;
  background-color: white;
  border-left-color: var(--border-color);
}

#sectionsMenu md-list-item[disabled] {
  background-color: var(--border-color);
}

/* Template Navigation */
#templateNavigation {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0px;
  padding: 0px;
  min-height: 40px;
  max-height: 40px;
  line-height: 40px;
  vertical-align: text-bottom;
}

#templateNavigation > md-select {
  margin: 0px;
  padding: 0px;
  min-height: 40px;
  max-height: 40px;
  line-height: 40px;
  vertical-align: text-bottom;
}

/* Tables */
td:focus, th:focus {
  outline: none;
  border: 0;
}

#dataTable-header {
  min-height: 25px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 2px 2px 5px 2px var(--shadow-color);
  z-index: 1;
}

#dataTable-rows {
  background: white;
  overflow: auto;
  box-shadow: 2px 2px 5px 2px var(--shadow-color);
  z-index: 2;
}

table.dataTable {
  background: white;
  border-spacing: 0px;
  border-collapse: separate;
}

table.dataTable tr {
  transition: all var(--transition-timer);
}

#dataTable-rows table.dataTable tr:hover {
  background: var(--highlight-color);
}

table.dataTable th, table.dataTable td {
  border-bottom: 1px solid var(--border-color);
  min-width: var(--column-width);
  max-width: var(--column-width);
  text-align: left;
  margin: 0px;
  padding-top: 0.5rem;
  padding-right: 1.0rem;
  padding-bottom: 0.5rem;
  padding-left: 1.0rem;
  cursor: default;
  background: inherit;
	white-space: nowrap;
	overflow: hidden;
  text-overflow: ellipsis;
}

table.dataTable th.actions, table.dataTable th.spacer,
table.dataTable td.actions, table.dataTable td.spacer {
  min-width: 0;
  max-width: none;
}

table.dataTable td span {
  padding: 0px 15px 0px 0px;
}

table.dataTable td:hover {
  overflow: visible;
}

table.dataTable td:hover span {
  position: relative;
  background: inherit;
  font-weight: bold;
  z-index: 10;
}

/* Toast Messages */
.md-toast-content md-icon {
  cursor: pointer;
  color: white;
}

.md-toast-content.toast-success {
  background-color: var(--success-color);
  color: white;
}

.md-toast-content.toast-warning {
  background-color: var(--warning-color);
  color: white;
}

.md-toast-content.toast-info {
  background-color: var(--info-color);
  color: white;
}

.md-toast-content.toast-error {
  background-color: var(--error-color);
  color: white;
}

.md-toast-content.toast-defualt {
  background-color: black;
  color: white;
}

/* Dialogs */
md-content {
  overflow-x: hidden;
}

/* Checkboxes */
md-checkbox.md-checked .md-icon {
  background-color: #D87732;
  background-color: var(--input-color);
  /*border: 1px solid gray;*/
}

/* Custom containers */
div.input-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0px;
  padding: 0px;
  min-height: 40px;
  max-height: 40px;
  line-height: 40px;
  vertical-align: text-bottom;
}

div.input-container > input, div.input-container > md-select {
  margin: 0px;
  padding: 0px;
  min-height: 40px;
  max-height: 40px;
  line-height: 40px;
  vertical-align: text-bottom;
}

div.panel > md-toolbar {
  min-height: 40px;
  max-height: 40px;
  padding-left: 2px;
  line-height: 40px;
  font-size: 25px;
}

div.panel > md-content {
  padding: 0px 15px;
  background-color: white;
}

/* Loading Bar / Indicator */
.mainLoadingBar, .mainLoadingIndicator {
  position: absolute;
  z-index: 13;
  left: 0;
  top: 0;
}

.mainLoadingIndicator {
  left: 10px;
  top: 10px;
}

/* Pagination Control */
#paginationControl {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 2px 2px 5px 2px var(--shadow-color);
  z-index: 3;
}

#paginationControl > p, #paginationControl > md-select {
  margin: 0px;
  min-height: 40px;
  max-height: 40px;
  line-height: 40px;
  vertical-align: text-bottom;
}

/* Content Container */
#mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  outline: none;
  margin: 0px;
  padding: 5px;
}

/* Footer */
div.footer {
  font-size: 50%;
  text-align: center;
  min-height: 1rem;
}

/* Log On */
.logOnFields {
  display: flex;
  flex-direction: column;
}

.logOnFields input[type=text], .logOnFields input[type=password] {
  width: 100%;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 25px;
}

.logOnFields input[type=submit] {
  float: left;
  width: 80px;
  height: 30px;
  position: relative;
  margin-left: -40px;
  left: 50%;
  font-weight: bold;
  font-size: 16px;
  color: white;
  text-shadow: -1px -1px #AAA;
  text-shadow: -1px -1px var(--shadow-color);
  border: 2px solid #CCC;
  border: 2px solid var(--border-color);
  background: #CCC;
  background: var(--border-color);
  border-radius: 5px;
  cursor: pointer;
}

.logOnFields input[type=submit]:hover {
  color: #DDDDFF;
  color: var(--highlight-color);
}

.logOnFields input[type=submit]:active {
  color: #DDDDFF;
  color: var(--highlight-color);
  border-color: #DDDDFF;
  border-color: var(--highlight-color);
}
