<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Symphony Manager (Alpha)</title>
	<meta name='description' content='Angular client for symphony manager.'>
	<meta name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1.0'>
	<meta http-equiv='CACHE-CONTROL' content='NO-CACHE'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<link rel='shortcut icon' type='image/png' href='images/favicon.png' />
	<!-- inject:css -->
	<!-- endinject -->
	<!-- inject:js -->
	<!-- endinject -->
	<!-- inline hiding of angular until initialized -->
	<style type='text/css'>
		[ng-cloak] {
			display: none;
		}
	</style>
</head>

<body ng-app='symphony-manager' ng-controller='indexCtrl' ng-cloak>

	<!-- Loading progress bar / indicator. -->
	<md-progress-linear ng-show='loadingBar.loading' md-mode='indeterminate'
	class='mainLoadingBar'></md-progress-linear>
	<md-progress-circular ng-show='loadingBar.loading' md-mode='indeterminate'
	md-diameter='25px' class='mainLoadingIndicator'></md-progress-circular>

	<!-- The top navigation bar. -->
	<div id='topBar'>
		<a href='http://www.gfxi.com/' target="_blank">
			<img src='/images/logo48.png' />
		</a>
		<md-button ng-if='currentPage != "Login"' aria-label='Sections Menu'
		title='Sections Menu' ng-click='toggleMenu("sections")'>
			<span>{{currentPage}}</span>
			<md-icon ng-show='topMenu != "sections"'>arrow_drop_down</md-icon>
			<md-icon ng-show='topMenu == "sections"'>arrow_drop_up</md-icon>
		</md-button>
		<div flex></div>
		<md-button ng-if='currentPage != "Login"' aria-label='Messages Menu'
		title='Messages Menu' ng-click='displayMessagesDialog()'>
			<md-icon>mail</md-icon>
			<span>{{currentUser.messages.total}} Messages</span>
		</md-button>
		<md-button ng-if='currentPage != "Login"' aria-label='User Menu'
		title='User Menu' ng-click='toggleMenu("user")'>
			<span>{{currentUser.email}}</span>
			<md-icon ng-show='topMenu != "user"'>arrow_drop_down</md-icon>
			<md-icon ng-show='topMenu == "user"'>arrow_drop_up</md-icon>
		</md-button>
	</div>

	<!-- The div on which that the $mdToast messages are appended. -->
	<div id='messageBar'></div>

	<!-- The menus opened from the top bar. -->
	<md-list id='sectionsMenu' ng-class='topMenuDisplay("sections")'>
		<md-list-item ng-repeat='section in managerSections'
		ng-disabled='sectionMenuItemDisabled(section)'
		ng-click='goToState(section.name, {})'>
			<md-icon>{{section.icon}}</md-icon>
			<label flex>{{section.name}}</label>
		</md-list-item>
	</md-list>
	<md-list id='userMenu' ng-class='topMenuDisplay("user")'>
		<md-list-item title='Change Password'
		ng-click='displayChangePasswordDialog()'>
			<md-icon>vpn_key</md-icon>
			<label flex>Change Password</label>
		</md-list-item>
		<md-list-item title='Logout' ng-click='logout()'>
			<md-icon>exit_to_app</md-icon>
			<label flex>Logout</label>
		</md-list-item>
	</md-list>

	<!-- The div that displays the main content of the current section. -->
	<div id='mainContent' ui-view='content' ng-click='hideMenus()'></div>

	<!-- GFX footer -->
	<div class='footer'>
		<p>© 2016 GFX International, Inc. All rights reserved.&nbsp; GFX International, Inc.
			333 Barron Blvd. Grayslake, IL 60030&nbsp; 847.543.4600 | 800.274.3225 | f: 847.543.4610</p>
	</div>
</body>

</html>
